<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <!-- Tags added in 'Visual Studio Code' -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrandTheftSQL | Ilya Galkin @ ilyagalkin2.github.io/CV/ | Java developer</title>
    <link rel="stylesheet" th:href="@{/css/stylesForHomepage.css}">
</head>

<body>
    <div class="container">
        <img src="grand_theft_sql1.jpg" alt="grand_theft_sql1.jpg.jpg" class="image01"/>
        <h3>GrandTheftSQL | Ilya Galkin @ ilyagalkin2.github.io/CV/ | Java developer</h3>

        <p>E-mail: <a href="mailto:ilya.en.ru.fr.galkin@gmail.com">ilya.en.ru.fr.galkin@gmail.com</a></p>
        <p><em>+7 913 428 5991</em> | <em>Telegram <a href="https://t.me/galkin_ie" alt="https://t.me/galkin_ie">@galkin_ie</a></em></p>

        <div class="bg-green">
            <p>>>> Try some SQL queries like these ones: </p>
            <p>To fill the table: </p>
            <p>insert into city (name, countrycode, district, population) values ('cityA', 'countryCodeA', 'districtA', 'populationA'); </p>
            <p>insert into city (name, countrycode, district, population) values ('cityB', 'countryCodeB', 'districtA', 'populationA'); </P>
            <p>insert into city (name, countrycode, district, population) values ('new_cityA', 'countryCodeA', 'districtC', 'population abcd'); </p>
            <p>insert into city (name, countrycode, district, population) values ('new_cityB', 'countryCodeA', 'districtD', 'population efgh'); </p>
            </br>
            <p>select * from city; <strong>(By default)</strong></p>
            <p>select * from city where id=2; </p>
            <p>And other queries!</p>
            <p>Start here:</p>
            <a href="/homepage">/homepage</a>
            </br>
            <form th:action="@{/homepage}"  method="post">
                <input type="text" th:value="${queryString}" name="queryString"/>
                <input type="submit" />
            </form>
            </br>
            <p><strong>Our database looks like this:</strong> </br>
                <span th:text="${databaseAfterQuery}">_database_ </span>
            </p>
        </div>


        <p align="right" style="font-size:larger">Technical task</p>
        <p align="left" style="font-size:larger">Task</p>
            Create a program powered by Spring. You should implement data storage with</br>
            interface with single public method:</br>
            String query(String queryString)</br>
            This method allows us to perform SQL-like requests. It should support next</br>
            operations:</br>
            CREATE TABLE table_name (</br>
            column1,</br>
            column2,</br>
            column3,</br>
            ....</br>
            );</br>
            INSERT INTO table_name (column1, column2, column3, ...)</br>
            VALUES (value1, value2, value3, ...);</br>
            SELECT column1, column2, ...</br>
            FROM table_name;</br>
            DELETE FROM table_name WHERE condition;</br>
            This storage supports only String types.</br>
            For select method should return String in next format:</br>
            column1Row1, column2Row1, …; column1Row2, column2Row2, …</br>
            Initially the program should initialize one table ‘city’ with fields (id, name,</br>
            countryCode, district, population). Please provide CRUD operations to this table</br>
            with Rest API.</br>
            Don’t make the program too complex but make it flexible enough to extend SQL</br>
            syntax.</br>
            Provide a link on this project in github when you finish.</br>
        </p>

        <img src="grand_theft_sql2.jpg" alt="grand_theft_sql2.jpg.jpg" class="image01"/>

    </div>

</body>

</html>